.question {
  margin-bottom: 1rem;
  border: 0 none;
  border-bottom: 1px solid #dbdef0;
  padding: 1rem;

  &__title {
    font-size: 1.2rem;
  }

  &__btn {
    &-wrap {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &--checked {
      border: var(--secondary);
      background-color: var(--secondary);
    }

    &--correct {
      border: 1px solid #94d7a2;
      background-color: #94d7a2;
    }

    &--wrong {
      border: 1px solid #f8bcbc;
      background-color: #f8bcbc;
    }

    &--muted {
      opacity: 50%;
    }
  }
}
