.form__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.submit__btn {
  padding: 0.7rem;
  background-color: #4d5b9e;
  color: white;
  font-weight: 600;
}
